<nav class="topNav">
  <ul class="topNav__part topNav__part_left">
    <li class="topNav__item">Home</li>
  </ul>
  <ul class="topNav__part topNav__part_right">
    <li class="topNav__item">Log in</li>
    <li class="topNav__item">Sign in</li>
  </ul>
</nav>
