<nav class="topNav" role="navigation">
  <ul class="topNav__part topNav__part_left">
    <li class="topNav__item"><a class="topNav__link" href="/">Home</a></li>
    <% if (user) { %>
      <li class="topNav__item"><a class="topNav__link" href="/cabinet">Cabinet</a></li>
      <li class="topNav__item"><a class="topNav__link" href="/chat">Chat</a></li>
    <% } %>
  </ul>
  <ul class="topNav__part topNav__part_right">
    <% if (user) { %>
      <li class="topNav__item"><a class="topNav__link logOut_js" href="">Log out</a></li>
    <% } else { %>
      <li class="topNav__item"><a class="topNav__link" href="/login">Log in</a></li>
    <% } %>
  </ul>
</nav>

<script>

  $('.logOut_js').click(function(event){
    event.preventDefault();

    var form = $('<form name="logoutForm" action="/logout" method="POST"></form>');
    $(document.body).append(form);

    $('form[name="logoutForm"]').submit();
  });

</script>
