<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= blocks.title %></title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="https://use.fontawesome.com/13e1e54a65.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
</head>
<body>
<div class="wrapper">
  <header>
    <div class="content">
      <%- partial('../partials/top_nav') -%>
    </div>
  </header>
  <section>
    <div class="content content_withIndents wrapper">
      <%- body %>
    </div>
  </section>
  <footer>
    <div class="content"></div>
  </footer>
</div>
</body>
</html>
