<% layout('layouts/page') -%>
<% block('title', 'Chat Page') -%>

<h1>Chat Page</h1>

<h3>Hello, <%= user.get('username') %></h3>

<div id="chatRoom">
  <div id="connectionStatus"></div>
  <div id="output"></div>
  <div id="feedback"></div>
  <form name="chatForm">
    <input id="username" type="hidden" name="username" value="<%= user.get('username') %>">
    <input id="msg" type="text" name="msg" autocomplete="off" autofocus placeholder="Message">
  </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>

  var $form = $('form[name="chatForm"]');
  var $output = $('#output');
  var $feedback = $('#feedback');
  var $msg = $('#msg');
  var $username = $('#username');

  var socket = io.connect('', {
    'reconnection': true,
    'reconnectionDelay': 500,
    'reconnectionDelayMax' : 5000,
    'reconnectionAttempts': 5
  });

  socket
    .on('message', function(data) {
      $feedback.html('');
      printMessage(data);
    })
    .on('connect', function() {
      printStatus('Connection established');
      $form.on('submit', sendMessage);
      $msg.on('keypress', typingMessage);
      $msg.prop('disabled', false);
    })
    .on('disconnect', function() {
      printStatus('Connection lost');
      $form.off('submit', sendMessage);
      $msg.prop('disabled', true);
    })
    .on('reconnect_failed', function() {
      printStatus('Oh, Nooo!!!');
    });

  socket.on('typing', function(data) {
    $feedback.html('<em>' + data + ' typing a message...</em>');
  });

  function sendMessage() {
    var text = $msg.val();
    var username = $username.val();
    $feedback.html('');
    $msg.val('');

    // Третий параметр опциональный - выполняется, когда данные пришли на сервер
    socket.emit('message', {
      message: text,
      username: username
    }, function(){
      printMessage(text);
    });

    return false;
  }

  function typingMessage(){
    var username = $username.val();
    socket.emit('typing', username);
  }

  function printMessage(data) {
    $('<p>', { html:  '<strong>' + data.username + '</strong>: ' + data.message }).appendTo($output);
    return false;
  }

  function printStatus(status) {
    $('#connectionStatus').text(status);
    return false;
  }

</script>
