<% layout('layouts/page') -%>
<% block('title', 'Chat Page') -%>

<h1>Chat Page</h1>

<!-- <h3>Hello, <%= user.get('username') %></h3> -->

<div id="chatRoom" class="chatRoom">
  <div class="chatRoom__header">
    <h3 class="chatRoom__title">Chat</h3>
    <div id="connectionStatus">
      <span class="connectionStatus__msg"></span>
      <span class="connectionStatus__indicator"><i class="fa fa-rss" aria-hidden="true"></i></span>
    </div>
  </div>
  <div id="chatWindow">
    <div id="output"></div>
    <div id="feedback"></div>
  </div>
  <form name="chatForm">
    <input id="username" type="hidden" name="username" value="<%= user.get('username') %>">
    <input id="msg" type="text" name="msg" autocomplete="off" autofocus placeholder="Message">
  </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>

  var $form = $('form[name="chatForm"]');
  var $output = $('#output');
  var $feedback = $('#feedback');
  var $msg = $('#msg');
  var $username = $('#username');

  var socket = io.connect('', {
    'reconnection': true,
    'reconnectionDelay': 500,
    'reconnectionDelayMax' : 5000,
    'reconnectionAttempts': 5
  });

  socket
    .on('message', function(data) {
      $feedback.html('');
      printMessage(data);
    })
    .on('connect', function() {
      socket.emit('addme', $username.val());
      printStatus(true, 'Connection established');
      $form.on('submit', sendMessage);
      $msg.on('keypress', typingMessage);
      $msg.prop('disabled', false);
    })
    .on('disconnect', function() {
      printStatus(false, 'Connection lost');
      $form.off('submit', sendMessage);
      $msg.prop('disabled', true);
    })
    .on('reconnect_failed', function() {
      printStatus(false, 'Try again later!');
    });

  socket.on('chat', function(username, data) {
    $('<p>', { html:  '<strong>' + username + '</strong> ' + data }).appendTo($output);
    return false;
  });

  socket.on('typing', function(data) {
    $feedback.html('<em>' + data + ' typing a message...</em>');
  });

  function sendMessage() {
    var text = $msg.val();
    var username = $username.val();
    $feedback.html('');
    $msg.val('');

    // Третий параметр опциональный - выполняется, когда данные пришли на сервер
    socket.emit('message', {
      message: text,
      username: username
    }, function(){
      printMessage(text);
    });

    return false;
  }

  function typingMessage(){
    var username = $username.val();
    socket.emit('typing', username);
  }

  function printMessage(data) {
    $('<p>', { html:  '<strong>' + data.username + '</strong>: ' + data.message }).appendTo($output);
    return false;
  }

  function printStatus(status, message) {
    $('#connectionStatus .connectionStatus__msg').text(message)

    if (status) {
      $('#connectionStatus').addClass('on');
    } else {
      $('#connectionStatus').addClass('off');
    }
    return false;
  }

</script>
