.formItems{
  display: block;
  width: 100%;
  margin: $indent 0;
  padding: $indent;
  border: 0;
  font-size: 1em;
}

label{
  display: block;
  padding: $indent/2 $indent;
}
input{
  @extend .formItems;
  background-color: $color_white;
  border-bottom: 1px solid lighten($color_black, 90);
}
button{
  @extend .formItems;
  max-width: 300px;
  margin: 0 auto;
  background-color: $color_accent;
  color: $color_whiteText;
  border-radius: 2px;
  cursor: pointer;

  &:hover{
    background-color: darken($color_accent, 10);
  }
}

.formWrap{
  max-width: 600px;
  margin: $indent*2 auto;
  padding: $indent;
  border: 1px solid #ddd;
  border-bottom: 0;
  box-shadow: $shadow;
  border-radius: 2px;
}

form[name="chatForm"]{

  input{
    margin: 0;
  }
}
