// Colors
$color_black: #000;
$color_white: #fff;
$color_success: #13dd13;
$color_error: #dd1313;
$color_accent: #87ceeb;
$color_mainText: #444;
$color_whiteText: #fff;

// Indents
$indent: 20px;

// Shadows
$shadow: 0px 4px 10px -5px lighten($color_black, 40); //666
