header{
  background-color: $color_accent;
}

.topNav{
  display: flex;
  justify-content: space-between;

  .topNav__part{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    .topNav__item{

      &:hover{
        background-color: darken($color_accent, 10);
      }

      .topNav__link{
        padding: $indent;
        display: inline-block;
        color: $color_whiteText;

        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}
